.home-page {
  background-image: url(../assets/background.webp);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 24px 32px;
    border-radius: 16px;
    color: #fff;
    max-width: 600px;
    height: 350px;
    border: none;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(
      10px
    ); // Blurs the background under the overlay for a glass-like effect

    .buttons {
      display: flex;
      gap: 12px;

      button {
        padding: 10px 20px;
        border-radius: 8px;
        border: none;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;

        &:hover {
          background-color: #0056b3;
          transform: translateY(-2px); // Slight lift effect on hover
        }

        &:active {
          transform: translateY(0); // Pressed button effect
        }
      }
    }
  }
}
